@charset "UTF-8";

* {
padding: 0px;
margin: 0px;
font-size: 1em;
}


@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte2: 'Passion One', cursive;
--fonte3: 'Sriracha', cursive;
}

    header {
        background-color: black;
        color: white;
        text-align: center;
    }

    h1 {
        
        padding-top: 50px;
        font-size: 10vw;
        font-weight: bold;
    }

    header > p {
        font-family: var(--fonte1);
        padding: 50px;

    }

    header a {
        color: white;
        text-decoration: none;
    }

    header a:hover {
        text-decoration: underline;
    }

    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte3);
        font-size: 3.5vw;
    }



    .imagem > p {
        color: white;
        display: inline-block;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.514);
        text-shadow: 1px 1px 0px black;
    }
    

    #img01 {
        box-shadow: inset 6px 7px 14px 0px rgb(0 0 0 0.49);
        line-height: 2em;
        font-size: 50px;
        font-family: var(--fonte3);
        background-color: transparent;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(imagens/background001.jpg);
    }

    #img02 {
        box-shadow: inset 6px 7px 14px 0px rgb(0 0 0 0.49);
        line-height: 2em;
        font-size: 50px;
        font-family: var(--fonte3);
        background-color: transparent;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url(imagens/background002.jpg);
    }

    footer {
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
        font-family: var(--fonte1);
        font-size: 16px;
    }

    footer > a {
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    footer > a:hover {
        text-decoration: underline;
    }
